################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/vbraziel.github.io/v17
/.vs/vbraziel.github.io/v16
/.vs/vbraziel.github.io/config/applicationhost.config
